<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/stylesheets :: stylesheet"></div>
    <meta charset="UTF-8">
    <title>Party Edit</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<main>
    <div class="row1">
        <div th:if="${errors}">
            <p th:each="error : ${errors}" th:text="${error}">error</p>
        </div>

        <div th:if="${party!=null}"  th:object="${party}">
            <h2 th:text="*{name}">Partydetails</h2>
<form th:action="@{|/admin/partyedit/${party.id}|}" method="post">
            <div class="startgrid">

                <label for="name" class="firstcol">Name: </label>
                <input class="secondcol inputfield" type="text" id="name" th:field="*{name}">

                <label for="pricepre" class="firstcol">Price presale: </label>
                <input class="secondcol inputfield" type="number" id="pricepre" th:field="*{price_Presale_In_Eur}">

                <label for="price" class="firstcol">Price: </label>
                <input class="secondcol inputfield" type="number" id="price" th:field="*{price_In_Eur}">

                <label for="extraInfo" class="firstcol">Extra info: </label>
                <input class="secondcol inputfield" type="text" id="extraInfo" th:field="*{extra_info}">

                <p class="firstcol">Venue: </p>
                <select  id="venueId" class="secondcol" name="venueId">
                    <option th:each="venue : ${venues}" th:value="${venue.id}" th:text="${venue.venuename}" th:selected="${party.venue.id==venue.id}"></option>
                </select>


            </div>

            <div>
                <a class="buttonLook smallButton" th:href="@{|/partydetails/${index}|}">Cancel</a>
            </div>
            <div>
                <input type="submit" class="submitButton" value="Save">
            </div>
</form>


        </div>
    </div>
</main>
</body>
</html>