<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<div class="nav" th:fragment="header">
    <header>
<h1>Let's Party!</h1>
    <nav>
        <ul>
            <li><a class="buttonLook menuButton" th:href="@{/home}">Home</a></li>
            <li><a class="buttonLook menuButton" th:href="@{/venuelist}">Venues</a></li>
            <li><a class="buttonLook menuButton" th:href="@{/artistlist}">Artists</a></li>
            <li><a class="buttonLook menuButton" th:href="@{/about}">About</a>
        </li>
        </ul>
    </nav>
    </header>
</div>

</body>
</html>