

p,a,li,h1,h2,h3 , label{
    font-family: Verdana, sans-serif;
}

h1, h2{
    font-size: 2rem;
}

nav ul {
    display: flex;
    width: 640px;
    margin: auto;
    height: 50px;
}

nav ul li {
    width: 25%;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li a{
    display: inline-block;
    color: lightgrey;
    padding: 17px 0 12px 0;
    width: 100%;
    text-align: center;

}

header{
    background-color: #808080;
}

body{
    background-color: #a9a9a9;
}

main{
    width:80%;
    margin: auto;

}

.startgrid{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.firstcol{
    grid-column:1;
}

.secondcol{
    grid-column: 2;
}

p,label{
    padding: 2px;
}

.filter{
    float: left;
}

.prevnextbuttons{display:flex;
justify-content: space-between;}

.active{
    background-color: green;
    color: white;
}

.notactive{

}

a.buttonLook {
    background-color: grey;
    color: black;
    text-decoration: none;
    text-align: center;

}

a.buttonLook:hover {
    background-color: dimgrey;
    color: white;
}

a.mediumButton {
    display: block;
    margin: 10px auto;
    width: 400px;
    font-size: 1.2em;
    padding: 1em;
}

a.smallButton {
    display: block;
    margin: 2px;
    width: 60px;
    font-size: 1em;
    padding: 0.2em;
}

.inputfield, option, select{
    width: 30%;
}