<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/stylesheets :: stylesheet"></div>
    <meta charset="UTF-8">
    <title>Party Details</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<main>
    <div class="row1">
        <div th:if="${errors}">
            <p th:each="error : ${errors}" th:text="${error}">error</p>
        </div>

        <div th:if="${party!=null}">
            <h2 th:text="${party.getName()}">venuedetails</h2>
            <div class="prevnextbuttons">
                <div th:if="${index==1}" >
                    <a th:href="@{|/partydetails/${count}|}"><</a>
                </div>

                <div  th:if="${index!=1}" >
                    <a th:href="@{|/partydetails/${(index+-1)}|}"><</a>
                </div>



                <div th:if="${count==index}" >
                    <a th:href="@{|/partydetails/1|}">></a>
                </div>
                <div th:if="${count!=index}">
                    <a  th:href="@{|/partydetails/${(index+1)}|}">></a>
                </div>
            </div>

            <div class="startgrid">

                <p th:if="${party.price_In_Eur==null && party.price_Presale_In_Eur==null}" class="firstcol">Free Party!</p>

                <p th:unless="${party.price_In_Eur==null && party.price_Presale_In_Eur==null}" class="firstcol">Price: </p>
                <p th:unless="${party.price_In_Eur==null && party.price_Presale_In_Eur==null}" class="secondcol"
                   th:text="${party.price_Presale_In_Eur} + '€ (presale) / '+${party.price_In_Eur}+'€'">Price in euro</p>

                <p class="firstcol">Doors: </p>
                <p th:text="${party.doors}" class="secondcol">Doors</p>

                <p th:if="${!party.extra_info.trim().isEmpty()}" class="firstcol">Extra info: </p>
                <p th:if="${!party.extra_info.trim().isEmpty()}" th:text="${party.extra_info}" class="secondcol">Extra info</p>

            </div>

            <div th:if="${!party.artists.isEmpty()}">
                <h2>Line up: </h2>
            <div th:each="artist : ${party.artists}">
                <a class="buttonLook mediumButton"
                   th:href="@{|/artistdetails/${artist.id}}"
                   th:text="|${artist.artistName}|">Artist name</a>
            </div>
            </div>

            <div th:if="${!party.animals.isEmpty()}">
                <h2>Animals: </h2>
                <div th:each="animal : ${party.animals}">
                    <a class="buttonLook mediumButton"
                       th:href="@{|/animaldetails/${animal.id}}"
                       th:text="|${animal.name}|">Animal name</a>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>