<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Venue List</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div th:each="venueName, iStat : ${venueNames}">
    <a class="buttonLook mediumButton"
       th:href="@{|/venuedetails/${iStat.index}}"
       th:text="|${venueName}|">Venue name</a>

</div>

</body>
</html>