<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/stylesheets :: stylesheet"></div>
    <meta charset="UTF-8">
    <title>Venue List</title>
</head>

<body>
<div th:replace="fragments/header :: header">Header</div>
<main>
    <div th:if="${errors}">
        <p th:each="error : ${errors}" th:text="${error}">error</p>
    </div>
<div th:if="${venues!=null}">
    <div id="filter">
    <p>Outdoor:</p>
    <form th:action="@{/venuelist}">
        <input type="submit" value="all">
    </form>
    <form th:action="@{/venuelist/outdoor/yes}">
        <input type="submit" value="yes">
    </form>
    <form th:action="@{/venuelist/outdoor/no}">
        <input type="submit" value="no">
    </form>

    </div>
<div th:each="venue : ${venues}">
    <a class="buttonLook mediumButton"
       th:href="@{|/venuedetails/${venueStat.index+1}}"
       th:text="|${venue.getVenuename()}|">Venue name</a>
</div>
</div>
</main>
</body>
</html>