<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Venue Details</title>
</head>
<body>
<a th:href="@{/venuelist}">Terug</a>
<div class="row1">
    <div class="row1content">
        <div th:if="${errors}">
            <p th:each="error : ${errors}" th:text="${error}">error</p>
        </div>


        <h2 th:if="${venueName}" th:text="${venueName}">venuedetails</h2>
        <p th:unless="${venueName}">No venue was chosen</p>
    </div>
</div>

</body>
</html>