<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/stylesheets :: stylesheet"></div>
    <meta charset="UTF-8">
    <title>Venue Details</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<main>
<div class="row1">
    <div th:if="${errors}">
        <p th:each="error : ${errors}" th:text="${error}">error</p>
    </div>

    <div th:if="${venue!=null}">
    <h2 th:text="${venue.getVenuename()}">venuedetails</h2>
<div id="filter">
            <div th:if="${index==1}" >
                <a th:href="@{|/venuedetails/${count}|}"><</a>
            </div>

            <div  th:if="${index!=1}">
                <a th:href="@{|/venuedetails/${(index+-1)}|}"><</a>
            </div>



            <div th:if="${count==index}" >
                <a th:href="@{|/venuedetails/1|}">></a>
            </div>
            <div th:if="${count!=index}">
                <a th:href="@{|/venuedetails/${(index+1)}|}">></a>
            </div>
</div>

    <div class="startgrid">
        <p>Link with more info: </p>
        <p class="secondcol" th:text="${venue.getLinkmoreinfo()}">Linkmoreinfo</p>

        <p>Food provided: </p>
        <p class="secondcol" th:text="${venue.isFoodProvided()}">Food provided</p>

        <p>Capacity: </p>
        <p class="secondcol" th:text="${venue.getCapacity()}">Capacity</p>

        <p>Indoor: </p>
        <p class="secondcol" th:text="${venue.isIndoor()}">Indoor</p>

        <p>Outdoor: </p>
        <p class="secondcol" th:text="${venue.isOutdoor()}">Outdoor</p>

        <p>Free Parking: </p>
        <p class="secondcol" th:text="${venue.isFreeParking()}">Free parking</p>

        <p>City: </p>
        <p class="secondcol" th:text="${venue.getCity()}">City</p>

        <p>Distance from public transport: </p>
        <p class="secondcol" th:text="${venue.getDistancePublicTransport()}">Distance from public transport</p>


    </div>
    </div>
</div>
</main>
</body>
</html>