<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/stylesheets :: stylesheet"></div>
    <meta charset="UTF-8">
    <title>Venue List</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div th:if="${venues!=null}">
    <h2 th:text="${count}+' venues found'"></h2>
    <div th:if="${filter}" class="filter">
        <a th:href="@{/venuelist}">/\</a>
        <form>
            <div class="onefilter">
                <input type="submit" value="search">
            </div>
            <h3>Capacity:</h3>
            <div class="onefilter">
                <label for="minCapacity" class="filtername">Min </label>
                <input type="number" id="minCapacity" name="minCapacity" th:value="${min}" step="50"> persons
            </div>
            <div class="onefilter">
                <label for="maxCapacity" class="filtername">Max </label>
                <input type="number" id="maxCapacity" name="maxCapacity" th:value="${max}" step="50"> persons
            </div>
            <div class="onefilter">
                <label for="maxDistance" class="filtername">Max Distance: </label>
                <input type="number" id="maxDistance" name="maxDistance" th:value="${maxd}">
            </div>
            <div><p>Indoor: </p>
                <label for="iyes" class="filtername">Yes </label>
                <input type="radio" id="iyes" name="filterindoor" value="yes" th:checked="${indoor.equals('yes')}">
                <label for="ino" class="filtername">No </label>
                <input type="radio" id="ino" name="filterindoor" value="no" th:checked="${indoor.equals('no')}">
                <label for="iall" class="filtername">All </label>
                <input type="radio" id="iall" name="filterindoor" value="all" th:checked="${indoor.equals('all')}">
            </div>
            <div><p>Outdoor: </p>
                <label for="oyes" class="filtername">Yes </label>
                <input type="radio" id="oyes" name="filteroutdoor" value="yes" th:checked="${outdoor.equals('yes')}">
                <label for="ono" class="filtername">No </label>
                <input type="radio" id="ono" name="filteroutdoor" value="no" th:checked="${outdoor.equals('no')}">
                <label for="oall" class="filtername">All </label>
                <input type="radio" id="oall" name="filteroutdoor" value="all" th:checked="${outdoor.equals('all')}">
            </div>
        </form>

    </div>
    <a th:unless="${filter}" class="prevnextbuttons" th:classappend="filter" th:href="@{/venuelist/filter}">\/</a>
<main>

<div th:each="venue : ${venues}">
    <div>
    <a class="buttonLook mediumButton"
       th:href="@{|/venuedetails/${venue.getId()}}"
       ><span th:text="${venue.getVenuename()}"></span>
        <div th:text="|capacity ${venue.capacity}|" class="venueExtraInfo">maxNrOfPersons</div></a>

    </div>
</div>
</main>
</div>
</body>
</html>